html {
    scroll-behavior: smooth;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.app {
    width: 100%;
    background-image: url(./img/normal-img.jpeg);
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease-out;
}

main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
    padding: 25px;
}


.app.hot {
    background-image: url(./img/warm-img.jpeg);
}

.app.cold {
    background-image: url(./img/cold-img.jpeg);
}